body {
    background-color: #F9F7F0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 1.6;
    text-align: center;
}


div {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 30px;
}

.showname {
    animation: heading;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    margin-top: 0;
    position: relative;
}

@keyframes heading {
    0% {top: -100px}
    100% {top: 30px}
}

hr {
    border: #000 2px solid;
    background-color: #000;
    border-radius: 5px;
    width: 80%;
    opacity: 0.7;
}

#hrc {
    border: #000 2px;
    border-style: dotted;
}

.container {
    opacity: 0;
    position: relative;
    animation-name: container;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes container {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#content {
    text-align: justify;
}

img {
    width: 290px;
    height: 200px;
    margin: 5px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: -40px;
    animation-name: img;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes img {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

    /*float: right;
    margin: 10px;
    margin-right: 0;
    z-index: 0;
    transform: scale(1,1);
    transition-property: z-index;
    transition: a11 1s ease-out;*/


/*img:hover {
    transform: scale(1.4,1.4);
    z-index: 100;
}*/

.btn {
    width: 100px;
    height: 50px;
    background: linear-gradient(150deg,#DF711C,#FDE49C);
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    right: 0;
    top: 90px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 15px;
    transition-property:font-size, width, height;
    transition-duration: 0.5s;
  }
  
.btn:hover{
    font-size: 30px;
    width: 110px;
    height: 70px;
  }
  
