body{
  padding: 50px;                    /*設定文件與框線間距*/
  display: flex;
  justify-content: center;
  background-color: #F9F7F0;      /*設定文字底色*/
  color: rgba(0,0,0,0.95);        /*設定文字顏色*/
  font-size: 15px;                  /*設定字體大小*/
  line-height: 30px;                /*設定行距*/
  letter-spacing: 1px;              /*設定文字間距*/
  font-family: "微軟正黑體",sans-serif; /*設定字型*/
  /*text-align:justify*/                   /*設定文字對齊*/
}

.resume{                               /*外框設定*/
  display: flex;
  max-width: 950px;                    /*最大寬度*/
  position: relative; 
  border: solid 10px black;          /*外框線型/厚度/顏色*/
  padding: 50px;                       
}

ul{
  padding: 0;
  padding-left: 5px;
  list-style:none;
}

li{
  margin-left: 5px;
}

a{
  text-decoration: none;
  color: black;
}

.left{                                 /*左半部外框設定*/ 
  max-width: 50%;
  padding: 15px;
  padding-right: 50px;                /*切割線與左側內容距離*/
  border-right: solid 1px #DF711C;  /*右側顯示框線做切割線*/
}

.right{  
  max-width: 50%;
  padding: 15px;
  padding-left: 50px;
  padding-top: 150px;
}

h1{
  margin: 0;
  margin-bottom: 3px;
  font-size: 40px;
  letter-spacing: 5px; 
}

.smallname{
  display: inline-block;
  margin: 0;
  margin-left: 130px;                   
  opacity: 0.9;                
  font-weight: 400;             
  font-size: 16px;
  letter-spacing: 0; 
}

.hr1{  
  margin-bottom: -15px;
  width: 250px;
  height: 8px;
  border-top: solid 10px #DF711C;
  border-radius: 10px 10px 10px 10px;
  margin-left: 0; 
  opacity: 0.2;
}

h2{
  margin: 0;
  margin-bottom: -15px; 
  margin-top: 50px; 
}

.hr2{  
  width: 430px;
  height: 8px;
  border-top: solid 8px #DF711C;
  border-radius: 10px 10px 10px 10px;
  margin-left: 0; 
  opacity: 0.25;
}

.smalltitle{
  display: inline-block;
  margin: 0;                    /*設定文件內文與邊界距離*/
  opacity: 0.8;                 /*字體透明度*/
  font-weight: 400;             /*設定字體粗細,400=預設值*/
  font-size: 16px;
}

h4{
  margin: 0;                    /*設定文件內文與邊界距離*/
  margin-top: 50px;             /*設定文件內文與上邊界距離*/  
  opacity: 0.8;                 /*字體透明度*/
  font-weight: 400;             /*設定字體粗細,400=預設值*/
}

hr{
  border: none;
  border-bottom: solid 4px #DF711C;
  width: 34%;                   /*框線長度*/
  margin-left: 0;               /*框線距離左側距離*/
  opacity: 0.5;
}

p{
  margin-bottom: 50px;
}

.button{
  border: solid 3px #DF711C;
  padding: 8px 20px;
  margin-right: 10px;
  border-radius: 20px / 20px;
  font-weight: bold;
}
.fill{
  background-color: #DF711C;
  color: black;
}
.blank{
  color: black;
}

.listSkill{
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

/*   line-height: 21px; */
}
.listSkill>li{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #FDE49C;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/*.circle{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  overflow: visible;
  background-color: #FDE49C;
  opacity: 0.3;
}*/


/*.circle::after{
  content: "";
  display: block;
  background-color: #FDE49C;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.p90, .p180, .p270, .p360{
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #DF711C;
}
.p180{
  top: 50%;
}
.p270{
  top: 50%;
  left: 0;
}
.p360{
  top: 0;
  left: 0;
}*/

.decoration{
  width: 100px;
  height: 50px;
  background: linear-gradient(150deg,#DF711C,#FDE49C);
  border-radius: 20px 0px 0px 20px;
  position: absolute;
  right: 0;
  top: 90px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 15px;
  transition-property:font-size, width, height;
  transition-duration: 0.5s;
}

.decoration:hover{
  font-size: 30px;
  width: 110px;
  height: 70px;
}

.list1>ul{
  display: block;
  list-style:none;
}

.list1>li:nth-child(odd) {
  padding-left: 10px;  
  border-left: solid 4px #DF711C;
  margin-bottom: 10px;

}
.list1>li:nth-child(even){
  padding-left: 10px;
  border-left: solid 4px #F7A364;
  margin-bottom: 10px;
}

.list2>ul{
  display: inline-block;
  /*list-style-type: square;*/
}

.list2>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 1px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.list2 .bar{
  width: 100px;
  height: 8px;
  border: solid 2px #DF711C;
  border-radius: 5px
}

.value{
  height: 100%;
  width: 50%;
  background-color: #DF711C;
}  

.value2{
  height: 100%;
  width: 30%;
  background-color: #DF711C;
}  

.smallword{
  margin: 0;                    /*設定文件內文與邊界距離*/
  opacity: 0.8;                 /*字體透明度*/
  font-weight: 400;             /*設定字體粗細,400=預設值*/
  font-size: 15px;
}


